@model  IEnumerable<ErrorTrackingSystem.Models.Entity.ErrorInformation>
@{
    ViewBag.Title = "Index";
    var errorInformation = ViewBag.modal as ErrorTrackingSystem.Models.Entity.ErrorInformation;
    var errorTypes = ViewBag.modal as ErrorTrackingSystem.Models.Entity.ErrorTypes;
    var customer = ViewBag.modal as ErrorTrackingSystem.Models.Entity.Customer;

}

<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<link href="path/to/select2.min.css" rel="stylesheet" />
<script src="path/to/select2.min.js"></script>
@*<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>*@
@*<link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>*@
   
    <script src="~/Scripts/select2.min.js"></script>
<script>
    
</script>
<script>
    $(document).ready(function () {
        $(".js-select2").select2(         
        );
    });
</script>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Yeni Hata Ekle
</button>
<br />
<div class="modal" id="Modal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Müşteri Bilgisi Ekle</h2>
                <form method="post" action="/Home/CreateCustomer">
                    <div class="modal-body">
                        <label>Müşteri Ad/Soyad</label><br />
                        @Html.TextBoxFor(modal => customer.CustomerName, new { @class = "form-control" })
                        <br />
                        <label>Şirket</label>
                        <br />
                        @Html.TextBoxFor(modal => customer.Company, new { @class = "form-control" })
                        <br />                                            
                        <button class="btn btn-info" id="btn_Save" data-target="#Modal1">KAYDET</button>
                        <button class="btn btn-danger" data-dismiss="modal">İPTAL</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hata Ekleme Ekranı</h2>
                <form method="post" action="/Home/CreateError" enctype="multipart/form-data">
                    <div class="modal-body">
                        <label>Müşteri Ad/Soyad</label>
                        @* @Html.TextBoxFor(modal => errorInformation.Customer.CustomerId, new { @class = "form-control" })*@
                        @Html.DropDownListFor(modal => errorInformation.CustomerId, (IEnumerable<SelectListItem>)ViewBag.val, "Müşteri bilgisi seçiniz...",
                         new { @class = "js-select2", @style = "width: 420px;", @required = "required" })
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2" data-dismiss="modal">
                            Müşteri Ekle
                        </button>
                        <label>Firma Adı</label>
                        @*<input type="text" class="form-control" name="Company" required="" maxlength="50" />*@
                        @*@Html.TextBoxFor(modal => errorInformation.Customer.Company, new { @class = "form-control", @required = "required" })*@
                        @Html.DropDownListFor(modal => errorInformation.CustomerId, (IEnumerable<SelectListItem>)ViewBag.com, new { @class = "form-control", @required = "required" })
                        <label>Adres</label>
                        @*<input type="text" class="form-control" name="CustomerSurname" required="" maxlength="30" />*@
                        @Html.TextBoxFor(modal => errorInformation.City.CityName, new { @class = "form-control", @required = "required" })
                        <label>Hata Tipi</label>
                        @Html.DropDownListFor(modal => errorInformation.ErrorTId, (IEnumerable<SelectListItem>)ViewBag.info, new { @class = "form-control", @required = "required" })
                        <label>Hata Özeti</label>
                        @*<input type="text" class="form-control" name="ErrorSummary" required="" maxlength="80" />*@
                        @Html.TextBoxFor(modal => errorInformation.ErrorSummary, new { @class = "form-control", @required = "required" })
                        <label>Görüntü</label>
                        @*@Html.TextBoxFor(model => errorInformation.Image, new { type = "file", name = "File" })*@
                        <input type="file" name="File" class="form-control">
                        <label>Hata Detayı</label>
                        @*<input type="text" class="form-control" name="ErrorDetails" maxlength="200" />*@
                        @Html.TextBoxFor(modal => errorInformation.ErrorDetails, new { @class = "form-control" })
                        <label>Hata Çözümü</label>
                        @Html.TextBoxFor(modal => errorInformation.ErrorSolution, new { @class = "form-control" })
                        <br />
                        <button class="btn btn-info" id="btn_Save">Verileri Kaydet</button>
                        <button class="btn btn-danger" data-dismiss="modal">İPTAL ET</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<table id="tblerrors" class="table table-bordered">
    <thead class="btn-primary">
        <tr>
            <th>Firma</th>
            <th>Müşteri Ad/Soyad</th>
            <th>Şehir</th>
            <th>Hata Tipi</th>
            <th>Hata Özeti</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Detay</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Customer.Company</td>
            <td>@item.Customer.CustomerName</td>
            <td>@item.City.CityName</td>
            <td>@item.ErrorTypes.ErrorTypeExplanation</td>
            <td>@item.ErrorSummary</td>
            <td><a class="btn btn-danger" onclick="ConfirmDelete(@item.ErrorId)">SİL</a></td>
            <td><a href="/Home/UpdateError/@item.ErrorId" class="btn btn-success"> GÜNCELLE </a></td>
            <td><a href="/Home/GetErrorDetails/@item.ErrorId" class="btn btn-warning">HATA DETAYI </a></td>
        </tr>
        }
    </tbody>
</table>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script>
    $('#tblerrors').DataTable();
</script>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Hata Sil</h3>
            </div>
            <div class="modal-body">
                <h4>Silmek istediğine emin misin? </h4>
            </div>
            <div class="modal-footer">
                <a href="/Home/Index" class="btn btn-success" onclick="DeleteError()">Onayla</a>
                <a href="/Home/Index" class="btn btn-default" data-dismiss="modal">İptal</a>
            </div>
        </div>
    </div>
    <input type="hidden" id="id" />
</div>
<script>
    var ConfirmDelete = function (id) {

        $("#id").val(id);
        $("#myModal").modal('show');
    }
    var DeleteError = function () {
        $("#loaderDiv").show();
        var errId = $("#id").val();
        $.ajax({

            type: "POST",
            url: "/Home/DeleteError",
            data: { id: errId },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                $("#row_" + errId).remove();
            }
        })
    }
</script>
@*<script>
    $("#searchInput").autocomplete({
        source: function (request, response) {
            $ajax({
                url: '@Url.Action("GetSearchValue","Home")',
                dataType: "json",
                data: { search: $("searchInput").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return {label:item.CustomerName,value:item.CustomerName}
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
        }
    })
</script>*@









