@model ErrorTrackingSystem.Models.Entity.ErrorInformation
@{
    ViewBag.Title = "UpdateError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("UpdateError", "Home", FormMethod.Post, new { enctype = "multipart/Form-data" }))
{
    <div style="display: none" class="form-group">
        <label>Id</label>
        @Html.TextBoxFor(x => x.ErrorId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Şirket</label>
        @Html.TextBoxFor(x => x.Customer.Company, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Müşteri Ad-Soyad</label>
        @Html.TextBoxFor(x => x.Customer.CustomerName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Şehir</label>
        @Html.TextBoxFor(x => x.City.CityName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Hata Tipi</label>
        @Html.DropDownListFor(x=>x.ErrorTId, (IEnumerable<SelectListItem>)ViewBag.info, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Hata Özeti</label>
        @Html.TextBoxFor(x => x.ErrorSummary, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Mevcut Görüntü :</label>
        <img src="~/Image/@Model.Image" width="80" height="80" />
        <br />
        <br />
       @*@Html.TextBoxFor(x =>x.Image, new { type = "file", name = "File" })*@
        <input type="file" name="File">
    </div>
    <div class="form-group">
        <label>Hata Detayı</label>
        @Html.TextBoxFor(x => x.ErrorDetails, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Hata Çözümü</label>
        @Html.TextBoxFor(x => x.ErrorSolution,new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-success">Güncelle</button>
    </div>
}




